#{extends 'main.html' /}

%{
  currentNav = 'friends';
}%

#{set 'aside'}
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida nisi ac arcu feugiat elementum. Nullam eu ultricies risus.</p>
  <p>Vivamus tempus sapien vitae felis mattis ut viverra sem ornare. Maecenas libero risus, laoreet vitae interdum vitae, ullamcorper quis velit. </p>
  <p>Proin et dolor vitae elit pellentesque commodo. Nullam pretium, nulla sit amet faucibus auctor, elit enim aliquam quam, id ullamcorper urna quam et nisl. Mauris varius nunc vel orci pretium et hendrerit sapien mattis. Maecenas eget odio eget ligula tempus fringilla. Morbi aliquam nunc vitae eros ornare pharetra.</p>
  <p>Vestibulum id dui mi, nec consequat eros. Sed tincidunt orci magna. Vivamus congue libero non mauris hendrerit et interdum leo semper. Etiam posuere, augue semper eleifend sagittis, neque nulla facilisis erat, sed viverra mauris lacus id justo. Nulla eu nibh ac neque dictum congue. Cras eleifend aliquet lacus non mattis. In a orci arcu.</p>
#{/set}

<h2>Hello world!</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida nisi ac arcu feugiat elementum. Nullam eu ultricies risus. Vivamus tempus sapien vitae felis mattis ut viverra sem ornare. Maecenas libero risus, laoreet vitae interdum vitae, ullamcorper quis velit. Proin et dolor vitae elit pellentesque commodo. Nullam pretium, nulla sit amet faucibus auctor, elit enim aliquam quam, id ullamcorper urna quam et nisl. Mauris varius nunc vel orci pretium et hendrerit sapien mattis. Maecenas eget odio eget ligula tempus fringilla. Morbi aliquam nunc vitae eros ornare pharetra. Vestibulum id dui mi, nec consequat eros. Sed tincidunt orci magna. Vivamus congue libero non mauris hendrerit et interdum leo semper. Etiam posuere, augue semper eleifend sagittis, neque nulla facilisis erat, sed viverra mauris lacus id justo. Nulla eu nibh ac neque dictum congue. Cras eleifend aliquet lacus non mattis. In a orci arcu.</p>
<p>Integer et purus at metus elementum tincidunt. Etiam purus neque, facilisis in lobortis eget, fermentum non tortor. Maecenas lacus justo, sagittis vitae scelerisque tristique, scelerisque eget ipsum. Aenean pharetra tellus at nunc aliquam tincidunt. Cras magna sem, adipiscing at aliquam ut, placerat nec dolor. Nullam semper est purus, non fringilla odio. Sed venenatis lacus in nulla posuere scelerisque. Curabitur ante augue, fermentum nec dictum sit amet, blandit in justo. Quisque at ipsum sed lacus hendrerit accumsan et sit amet odio. Nunc ac magna mauris, rhoncus placerat erat. Quisque sit amet turpis a odio mattis scelerisque. Praesent et dui at orci bibendum imperdiet. Nulla augue ligula, dignissim dignissim sagittis non, porta ac eros. Cras nec augue eu sapien volutpat elementum et ut purus. Nullam faucibus urna eget libero auctor tristique.</p>
