#{extends 'main.html' /}

%{
  currentNav = 'profile';
}%

#{set 'aside'}
  <div class="box userInfo">
    <img class="avatar floatleft" src="/public/images/avatar.png" />
    <div class="floatleft infos">
      <p class="user">${connected.firstname} ${connected.lastname}</p>
      <p class="email">${connected.email}</p>
      <p class="address">${connected.address}</p>
      <p class="phone">${connected.phone}</p>
      <p class="stats">
        <span>${!connected.friends?0:connected.friends.size()} ami(s)</span>, 
        <span>${!connected.universities?0:connected.universities.size()} université(s)</span>, 
        <span>${!connected.corporations?0:connected.corporations.size()} entreprise(s)</span>
      </p>
      #{if connected.isAdmin}<p class="isAdmin">Administrateur</p>#{/if}
    </div>
  </div>
#{/set}

<div>
  <form>
    <p>
      <label for="firstname">Nom</label>
      <input type="text" id="firstname" name="firstname" value="${connected.firstname}" />
    </p>
    <p>
      <label for="lastname">Prénom</label>
      <input type="text" id="lastname" name="lastname" value="${connected.lastname}" />
    </p>
    <p>
      <label for="email">Email</label>
      <input type="text" id="email" name="email" value="${connected.email}" />
    </p>
    <p>
      <label for="phone">Téléphone</label>
      <input type="text" id="phone" name="phone" value="${connected.phone}" />
    </p>
    <p>
      <label for="address">Adresse</label>
      <textarea type="text" id="address" name="address">${connected.address}</textarea>
    </p>
    <p class="buttons">
      <button>Mettre à jour</button>
    </p>
  </form>
</div>

<div>
  <h3>Changer son mot de passe</h3>
  <form>
    <p>
      <label for="currentPwd">Mot de passe actuel</label>
      <input type="password" id="currentPwd" name="currentPwd" />
    </p>
    <p>
      <label for="password">Nouveau mot de passe</label>
      <input type="password" id="password" name="password" />
    </p>
    <p>
      <label for="password2">Re-tapez le nouveau mot de passe</label>
      <input type="password" id="password2" name="password2" />
    </p>
    <p class="buttons">
      <button>Changer mon mot de passe</button>
    </p>
  </form>
</div>