#{extends 'Messages/layout.html' /}

<nav>
  <ul>
    <li><a class="${flash.box=='all'?'selected':''}" href="@{Messages.list('all')}">Tous les messages</a></li>
    <li><a class="${flash.box=='inbox'?'selected':''}" href="@{Messages.list('inbox')}">Boite de réception</a></li>
    <li><a class="${flash.box=='sendbox'?'selected':''}" href="@{Messages.list('sendbox')}">Boite d'envoi</a></li>
  </ul>
</nav>

#{if msges?.size()}
<ul class="itemList">
#{list items: msges, as:'message'}
  <li class="user">
    De 
    <span class="sender">
      #{if message.sender.id==connected.id}
        Moi
      #{/if}
      #{else}
        <a href="@{Users.view(message.sender.id)}">${message.sender.firstname} ${message.sender.lastname}</a>
      #{/else}
    </span>
    à 
    <span class="receiver">
      #{if message.receiver.id==connected.id}
        Moi
      #{/if}
      #{else}
        <a href="@{Users.view(message.receiver.id)}">${message.receiver.firstname} ${message.receiver.lastname}</a>
      #{/else}
    </span> 
    <span class="date">à ${new java.text.SimpleDateFormat().format(message.date)}</span>
    <a class="floatright clearboth delete" href="@{Messages.delete(message.id)}?x-http-method-override=DELETE">Supprimer</a>
    <div class="message">
      ${message.content.nl2br()}
    </div>
  </li>
#{/list}
</ul>
#{/if}