#{extends 'Messages/layout.html' /}


<nav>
  <ul>
    <li><a class="${flash.box=='all'?'selected':''}" href="@{Messages.list('all')}">Tous les messages</a></li>
    <li><a class="${flash.box=='inbox'?'selected':''}" href="@{Messages.list('inbox')}">Boite de réception</a></li>
    <li><a class="${flash.box=='sendbox'?'selected':''}" href="@{Messages.list('sendbox')}">Boite d'envoi</a></li>
  </ul>
</nav>

<div>
  <h3>Envoyer un message</h3>
  #{form @Messages.create()}
    <p>
    <label for="receiver">Envoyer à</label>
    <select name="receiver" id="receiver">
      #{list items:connected.friends, as:'friend'}
        <option value="${friend.id}">${friend.firstname} ${friend.lastname}</option>
      #{/list}
    </select>
    <span class="error">#{error 'receiver' /}</span>
    </p>
    <p>
      <label for="content">Contenu du message</label>
      <textarea id="content" name="content"></textarea>
      <span class="error">#{error 'content' /}</span>
    </p>
    <p class="buttons">
      <button>Envoyer</button>
    </p>
  #{/form}
</div>

#{if msges?.size()}
<ul class="itemList">
#{list items: msges, as:'message'}
  <li class="user">
    De 
    <span class="sender">
      #{if message.sender.id==connected.id}
        Moi
      #{/if}
      #{else}
        <a href="@{Users.view(message.sender.id)}">${message.sender.firstname} ${message.sender.lastname}</a>
      #{/else}
    </span>
    à 
    <span class="receiver">
      #{if message.receiver.id==connected.id}
        Moi
      #{/if}
      #{else}
        <a href="@{Users.view(message.receiver.id)}">${message.receiver.firstname} ${message.receiver.lastname}</a>
      #{/else}
    </span> 
    <span class="date">à ${new java.text.SimpleDateFormat().format(message.date)}</span>
    <div class="message">
      ${message.content}
    </div>
  </li>
#{/list}
</ul>
#{/if}