#{extends 'Friends/layout.html' /}

#{if requests?.size()}
<h3>Demandes d'amitié</h3>
<ul class="itemList">
#{list items: requests, as:'friend'}
  <li>
    #{userInfo user:friend /}
  </li>
#{/list}
</ul>
#{/if}

#{if friends?.size()}
<h3>Amis</h3>
<ul class="itemList">
#{list items: friends, as:'friend'}
  <li>
    #{userInfo user:friend /}
  </li>
#{/list}
</ul>
#{/if}

#{if myRequests?.size()}
<h3>Mes demandes</h3>
<ul class="itemList">
#{list items: myRequests, as:'friend'}
  <li>
    #{userInfo user:friend /}
  </li>
#{/list}
</ul>
#{/if}