#{extends 'Finder/layout.html' /}

%{
  searchType = 'person';
}%

<div>
  #{form @Finder.searchPerson()}
    <p>
      <label for="findName">Nom, prénom ou email</label>
      <input type="text" id="findName" name="search" style="width: 420px;" value="${search}" />
      <button style="float: right;">Rechercher</button>
    </p>
  #{/form}
</div>

#{if results}
  <ul class="itemList">
  #{list items:results, as:'user'}
    <li>
      #{userInfo user:user /}
    </li>
  #{/list}
  </ul>
#{/if}

<script language="javascript">
$(function(){
  $('.actions a').click(function(){
    $.ajax({
      url: $(this).attr('href'),
      success: function(){ 
        window.location = window.location;
      }
    });
    return false;
  });
});
</script>
