#{extends 'Finder/layout.html' /}

%{
  searchType = 'person';
}%

<div>
  #{form @Finder.searchPerson()}
    <p>
      <label for="findName">Nom, prénom ou email</label>
      <input type="text" id="findName" name="search" style="width: 70%;" value="${search}" />
      <button class="floatright">Rechercher</button>
    </p>
  #{/form}
</div>

#{if search}
  #{if results}
    <ul class="itemList">
    #{list items:results, as:'user'}
      <li>
        #{userInfo user:user /}
      </li>
    #{/list}
    </ul>
  #{/if}
  #{else}
    <div class="box center">
      Aucune personne trouvée.
    </div>
  #{/else}
#{/if}