#{extends 'Finder/layout.html' /}

%{
  searchType = 'university';
}%

<div>
  #{form @Finder.searchUniversity()}
    <p>
      <label for="findName">Nom</label>
      <input type="text" id="findName" name="search" value="${search}" />
      <button style="float: right;">Rechercher</button>
    </p>
  #{/form}
</div>

#{if search}
  #{if results}
    <ul class="itemList">
    #{list items:results, as:'university'}
      <li>
      </li>
    #{/list}
    </ul>
  #{/if}
  #{else}
    <div class="box center">
      Aucune université trouvée.
    </div>
  #{/else}
#{/if}