#{extends 'main.html' /}

#{set 'aside'}
#{if user.isFriend}
<div class="box center">
  <img class="avatar" src="@{Users.avatar(user.id)}" />
</div>
#{/if}
#{/set}

<div class="userInfo box">
  #{userInfo user:user, withDetail:true /}
</div>

#{if user.isFriend}

  #{if friends}
  <div>
    <h4>Amis (${friends.size()})</h4>
    <ul class="itemList">
    #{list items:friends, as:'friend'}
      <li>
        #{userInfo user:friend /}
      </li>
    #{/list}
    </ul>
  </div>
  #{/if}


#{/if}

<script language="javascript">
$(function(){
  $('.inviteUser').click(function(){
    $.ajax({
      url: $(this).attr('href'),
      success: function(){ 
        window.location = window.location;
      }
    });
    return false;
  });
});
</script>
