#{extends 'main.html' /}

#{set 'aside'}
#{if user.isFriend||user.isMe}
  <div class="box center">
    <img class="avatar" src="@{Users.avatar(user.id, user.avatarRevision)}" />
  </div>
#{/if}
#{if user.isFriend}
  #{sendMessageBox friends: user /}
#{/if}
#{if user.isMe}
  <div class="box">
    <a href="@{Profile.index()}" >Editer mon profil</a>
  </div>
#{/if}
#{/set}

<div class="userView box">
  #{userInfo user:user, withDetail:true /}
</div>

#{if user.isFriend||user.isMe}

  #{if friends}
  <div class="box">
    <h4>Amis de ${user.lastname} ${user.firstname} (${friends.size()})</h4>
    <ul class="itemList">
    #{list items:friends, as:'friend'}
      <li>
        #{userInfo user:friend /}
      </li>
    #{/list}
    </ul>
  </div>
  #{/if}

  #{if universities}
  <div class="box">
    <h4>Universités de ${user.lastname} ${user.firstname} (${universities.size()})</h4>
    <ul class="itemList">
    #{list items:universities, as:'item'}
      <li>
        #{universityYearInfo university:item, isMine:(user.id==connected.id) /}
      </li>
    #{/list}
    </ul>
  </div>
  #{/if}

  #{if corporations}
  <div class="box">
    <h4>Entreprises de ${user.lastname} ${user.firstname} (${corporations.size()})</h4>
    <ul class="itemList">
    #{list items:corporations, as:'item'}
      <li>
        #{corporation corporation:item, isMine:(user.id==connected.id) /}
      </li>
    #{/list}
    </ul>
  </div>
  #{/if}

#{/if}
