#{extends 'Admin/layout.html' /}

%{
  currentAdminNav = 'inscription';
}%

#{if inactive?.size()}
<h3>Nouvelles inscriptions</h3>
<ul class="itemList">
#{list items: inactive, as:'user'}
  <li>

    <div class="userInfo">

      <div class="actions">
        <a href="@{AdminUsers.activate(user.id)}?x-http-method-override=PUT" class="accept">Accepter</a>
        <a href="@{AdminUsers.delete(user.id)}?x-http-method-override=DELETE" class="refuse">Refuser</a>
      </div>
      
      <a class="user" href="@{Users.view(user.id)}">
        <span class="firstname">${user.firstname}</span>&nbsp;<span class="lastname">${user.lastname}</span>
      </a>
      
      <dl class="detail">
        <dt>Email</dt><dd class="email">${user.email}</dd>
        <dt>Téléphone</dt><dd class="phone">${user.phone}</dd>
        <dt>Adresse</dt><dd class="address">${user.address}</dd>
      </dl>
      
    </div>

  </li>
#{/list}
</ul>
#{/if}
#{else}
<div class="box center">
  Aucun utilisateur à traiter.
</div>
#{/else}