%{
  user = _user;
}%

<div class="userInfo">
  #{if !user.isFriend && !user.isInvited && !user.isMe}
    <a href="@{Friends.inviteOrAccept(user.id)}?x-http-method-override=PUT" class="floatright invite inviteUser">
      #{if user.hasRequested}Accepter l'invitation#{/if}
      #{else}Inviter dans sa liste d'ami#{/else}
    </a>
  #{/if}
  #{else}
    #{if user.isMe}
      <span class="isMe floatright">C'est vous !</span>
    #{/if}
    #{else}
      #{if user.isFriend}
        <span class="isFriend floatright">déjà dans votre liste d'amis</span>
      #{/if}
      #{if user.isInvited}
        <span class="invited floatright">invitation en attente</span>
      #{/if}
    #{/else}
  #{/else}
  <span class="user">
    #{if !user.isMe}<a href="@{Users.view(user.id)}">#{/if}
      ${user.firstname} ${user.lastname}
    #{if !user.isMe}</a>#{/if}
  </span>
</div>
