%{
  user = _user;
  withDetail = _withDetail;
  
  year = _year;
  speciality = _speciality;
  diploma = _diploma;
}%

<div class="userInfo">
  <div class="actions">
  #{if user.isMe}
    <span class="isMe">C'est moi !</span>
  #{/if}
  #{if user.isFriend}
    <a href="@{Friends.delete(user.id)}?x-http-method-override=DELETE" class="delete">Retirer de ma liste d'amis</a>
  #{/if}
  #{if user.isInvited}
    <span class="invited">invitation en attente</span>
    <a href="@{Friends.delete(user.id)}?x-http-method-override=DELETE" class="delete">Annuler ma demande</a>
  #{/if}
  #{if !user.isFriend && !user.isInvited && !user.isMe}
    #{if user.hasRequested}
      <a href="@{Friends.inviteOrAccept(user.id)}?x-http-method-override=PUT" class="accept">
        Accepter l'invitation
      </a>
      <a href="@{Friends.delete(user.id)}?x-http-method-override=DELETE" class="refuse">
        Refuser l'invitation
      </a>
    #{/if}
    #{else}
      <a href="@{Friends.inviteOrAccept(user.id)}?x-http-method-override=PUT" class="invite">
        Inviter dans ma liste d'amis
      </a>
    #{/else}
  #{/if}
  </div>
  
  <a class="user" href="@{Users.view(user.id)}">
    #{if user?.id}<img class="avatar" src="@{Users.avatar(user.id, user.avatarRevision?:0)}" width="50" height="50" />#{/if}
    <span class="firstname">${user.firstname}</span>&nbsp;<span class="lastname">${user.lastname}</span>
  </a>
  
  #{if year||speciality||diploma}
  <dl class="detail">
    #{if year}<dt>Année</dt><dd>${year}</dd>#{/if}
    #{if speciality}<dt>Spécialité</dt><dd>${speciality.name}</dd>#{/if}
    #{if diploma}<dt>Diplôme</dt><dd>${diploma.name}</dd>#{/if}
  </dl>
  #{/if}
  
  #{if withDetail && (user.isFriend || user.isMe)}
  <dl class="detail">
    #{if user.email}<dt>Email</dt><dd class="email">${user.email}</dd>#{/if}
    #{if user.phone}<dt>Téléphone</dt><dd class="phone">${user.phone}</dd>#{/if}
    #{if user.address}<dt>Adresse</dt><dd class="address">${user.address}</dd>#{/if}
  </dl>
  #{/if}
</div>
