#{extends 'Application/layout.html' /}


%{
  currentNav = 'overview';
}%
<div id="overview">
  <div class="carouselContainer">
  #{if !isMobile}
    <div class="carousel">
      <ul>
        <li style="float: left;"><img src="/public/images/carousel_01.png" /></li>
        <li style="float: left;"><img src="/public/images/carousel_02.png" /></li>
        <li style="float: left;"><img src="/public/images/carousel_03.png" /></li>
        <li style="float: left;"><img src="/public/images/carousel_04.png" /></li>
        <li style="float: left;"><img src="/public/images/carousel_05.png" /></li>
        <li style="float: left;"><img src="/public/images/carousel_06.png" /></li>
        <li style="float: left;"><img src="/public/images/carousel_07.png" /></li>
      </ul>
    </div>
  #{/if}
    <div class="description">
      <h3>
        <strong>University nostalgia</strong> est un réseau social destiné aux 
        anciens étudiants du département informatique.
      </h3>
      <p>
        Vous n'êtes pas encore inscrit ? 
        <a href="@{Application.signup}">Inscrivez-vous</a>
      </p>
      <p>Vous êtes déjà inscrit ?
      <a href="@{Application.login}">Connectez-vous</a>
      </p>
    </div>
  </div>
</div>

<script language="javascript">
  $(function(){
    $('#overview .carousel').carousel({
      direction: 'horizontal',
      loop: true,
      dispItems: 1,
      pagination: false,
      autoSlide: true,
      autoSlideInterval: 2000,
      nextBtn: null,
      prevBtn: null,
      effect: 'fade'
    });
  });
</script>
