#{extends 'Application/layout.html' /}

%{
  currentNav = 'login';
}%

<div id="login">
  <h1>Connexion</h1>

  <form action="@{Application.authenticate}" method="POST" accept-charset="utf-8">
    <p>
      <label for="email">Email</label>
      <input id="email" type="text" name="email" value="${flash.email}" />
    </p>
    <p>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" value="" />
    </p>
    <p class="buttons">
      <button>Login</button>
    </p>
  #{if flash.error}
    <p class="errors">
      ${flash.error}
    </p>
  #{/if}
  </form>

</div>