#{extends 'Application/layout.html' /}

%{
  currentNav = 'signup';
}%

<div id="signup">
  <h1 id="title">Inscription</h1>

  <form action="@{Application.register}" method="POST" accept-charset="utf-8">
    <p>
      <label for="email">Email</label>
      <input type="text" name="email" value="${flash.email}" id="email" />
      <span class="error">#{error 'email' /}</span>
    </p>
    <p>
      <label for="firstname">Nom</label>
      <input type="text" name="firstname" value="${flash.firstname}" id="firstname" />
      <span class="error">#{error 'firstname' /}</span>
    </p>
    <p>
      <label for="lastname">Prénom</label>
      <input type="text" name="lastname" value="${flash.lastname}" id="lastname" />
      <span class="error">#{error 'lastname' /}</span>
    </p>
    <p> 
      <label for="password">Mot de passe</label>
      <input type="password" name="password" value="${flash.password}" id="password" />
      <span class="error">#{error 'password' /}</span>
    </p>
    <p>
      <label for="password2">Mot de passe de nouveau</label>
      <input type="password" name="password2" value="${flash.password2}" id="password2" />
      <span class="error">#{error 'password2' /}</span>
    </p>
    <p class="buttons">
      <button>S'inscrire</button>
    </p>
  </form>
</div>