<!DOCTYPE html>

<html>
  <head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    #{stylesheet src='main.sass', media:'screen'/}
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    #{script 'jquery-1.4.2.min.js' /}
    #{script 'jquery.carousel.min.js' /}
    #{script 'jquery.autoresize.min.js' /}
    #{get 'moreScripts' /}
  </head>
  <body>
    <div id="wrapper">
      <nav>
        <ul>
          #{get 'nav' /}
        </ul>
        <div style="display: none;" id="selection" class="triangle-isosceles top"></div>
      </nav>

      <header>
        <h1>
          <a href="/">University nostalgia</a>
        </h1>
        #{if connected}
        <span class="user">${connected.firstname} ${connected.lastname}</span>
        <a class="logout" href="@{Application.logout}">Déconnexion</a>
        #{/if}
      </header>

      <div id="main">
        #{if flash.info}<div id="flashInfo"><div class="info ${flash.infotype}">${flash.info}</div></div>#{/if}
        #{doLayout /}
      </div>

      <footer>
        <ul>
          <li>© 2010 Renaudeau and Namolovan</li>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </footer>
    </div>
    
    <script language="javascript">
      $(function(){
        var selected = $('#wrapper > nav .selected');
        if(selected[0])
          $('#selection').show().css('left', Math.floor(selected.parent().width()/2 - 15 + selected.parent().position().left)+'px');
          var speed = 1000;
          $('#flashInfo').hide().fadeIn(speed);
          setTimeout(function() {
            $('#flashInfo').fadeOut(speed);
          }, 3000);
        
        var touchLinkAndRefresh = function(node){
          $.ajax({
            url: $(node).attr('href'),
            success: function(){ 
              window.location = window.location;
            }
          });
        };
        $('.actions a').click(function(){
          if($(this).hasClass('delete') || $(this).hasClass('refuse')) {
            if(confirm("Êtes vous sûr de vouloir supprimer ?"))
              touchLinkAndRefresh(this);
          }
          else
            touchLinkAndRefresh(this);
          return false;
        });
      })
    </script>
  </body>
</html>
