#{extends 'base.html' /}

%{
  if(currentNav=='welcome') nav_welcome='selected';
  else if(currentNav=='profile') nav_profil='selected';
  else if(currentNav=='friends') nav_friends='selected';
}%

#{set 'nav'}
  <li><a class="${nav_welcome}" href="@{Main.index}">Accueil</a></li>
  <li><a class="${nav_profil}" href="@{Main.profile}">Profil</a></li>
  <li><a class="${nav_friends}" href="@{Main.findFriends}">Trouver quelqu'un</a></li>
#{/set}

<aside>
  #{get 'aside' /}
</aside>

<section class="logged">
  #{doLayout /}
</section>

