#{extends 'main.html' /}

%{
  currentNav = 'profile';
}%

#{set 'aside'}
  #{if connectedUserInfo}
  <div class="box">
    #{userInfo user:connectedUserInfo, withDetail:true /}
  </div>
  #{/if}
#{/set}

<nav>
  <ul>
    <li><a class="${currentProfilNav=='infos'?'selected':''}" href="@{Profile.infos()}">Informations personnelles</a></li>
    <li><a class="${currentProfilNav=='avatar'?'selected':''}" href="@{Profile.avatar()}">Avatar</a></li>
    <li><a class="${currentProfilNav=='password'?'selected':''}" href="@{Profile.password()}">Mot de passe</a></li>
  </ul>
</nav>

#{doLayout /}
