#{extends 'main.html' /}

  <h3>Etudiants de ${university.name} (par année)</h3>
  
  %{
    keys = new ArrayList<Long>(universityYearsByYear.keySet());
    java.util.Collections.reverse(keys);
  }%
    
  #{list items:keys, as:'uyKey'}
  <div class="box">
    %{
      items = universityYearsByYear.get(uyKey);
    }%
    <h4>en ${uyKey} (${items.size()} étudiants)</h4>
    <ul class="itemList">
    #{list items:items, as:'uY'}
    <li>
      #{userInfo user:uY.user, year:uY.year, speciality:uY.speciality, diploma:uY.diploma /}
    </li>
    #{/list}
    </ul>
  </div>
  #{/list}